<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="backgroundworker.Properties.Settings.ThànhConnectionString"
            connectionString="Data Source=DESKTOP-S1U02KO\THANHTHATTHA;Initial Catalog=Thành;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>